## Importing libraries

In [43]:
# To create datetime objects 
import datetime
from datetime import date, timedelta
import numpy as np 

# To grab stock data
import yfinance as fyf

%matplotlib inline
import matplotlib.pyplot as plt

from pandas_datareader import data as pdr
fyf.pdr_override() # <-- Here is the fix

## Pull stock data

In [70]:
# Set label
stocks = [ # If you want to grab multiple stocks add more labels to this list
    "ICBP.JK", 
    "SIDO.JK",
#     "MYOR.JK",
#     "UNVR.JK",
#     "INDF.JK",
#     "ULTJ.JK"
] 

##
## Set start and end dates
##

# start = datetime.datetime(2020, 1, 1)
# end   = datetime.datetime(2020, 10, 10)
start = date.today()-timedelta(10)
end   = date.today()+timedelta(1) # must be D+1 to include today's data

# Grab data
df = pdr.get_data_yahoo(stocks, start = start, end = end)
print("DataFrame shape: "+ str(df.shape))
df

[*********************100%***********************]  2 of 2 completed
DataFrame shape: (7, 12)

           Adj Close           Close            High             Low          \
             ICBP.JK SIDO.JK ICBP.JK SIDO.JK ICBP.JK SIDO.JK ICBP.JK SIDO.JK
Date
2020-11-02    9750.0   787.5  9750.0   800.0  9925.0   810.0  9625.0   795.0
2020-11-03    9725.0   810.0  9725.0   810.0  9825.0   810.0  9725.0   790.0
2020-11-04    9775.0   815.0  9775.0   815.0  9825.0   825.0  9750.0   810.0
2020-11-05    9900.0   815.0  9900.0   815.0  9900.0   825.0  9800.0   815.0
2020-11-06    9875.0   830.0  9875.0   830.0  9950.0   845.0  9800.0   810.0
2020-11-09    9750.0   840.0  9750.0   840.0  9950.0   845.0  9750.0   830.0
2020-11-10    9675.0   845.0  9675.0   845.0  9850.0   855.0  9650.0   840.0

              Open            Volume
           ICBP.JK SIDO.JK   ICBP.JK   SIDO.JK
Date
2020-11-02  9650.0   805.0   9102800  21273200
2020-11-03  9825.0   800.0   4004300  12821500
2020-11-04  9750.0   815.0   2680800  18617400
2020-11-05  9850.0   815.0   5042500   7496100
2020-11-06  9900.0   815.0  10391600  28087500
2020-11-09  9900.0   840.0   9146900  21029100
2020-11-10  9775.0   840.0  21280100  23042600

## Get individual stock data

In [72]:
i='ICBP.JK' # specify stock's ticker/symbol here
df.loc[:,(slice(None), (i))]

           Adj Close   Close    High     Low    Open    Volume
             ICBP.JK ICBP.JK ICBP.JK ICBP.JK ICBP.JK   ICBP.JK
Date
2020-11-02    9750.0  9750.0  9925.0  9625.0  9650.0   9102800
2020-11-03    9725.0  9725.0  9825.0  9725.0  9825.0   4004300
2020-11-04    9775.0  9775.0  9825.0  9750.0  9750.0   2680800
2020-11-05    9900.0  9900.0  9900.0  9800.0  9850.0   5042500
2020-11-06    9875.0  9875.0  9950.0  9800.0  9900.0  10391600
2020-11-09    9750.0  9750.0  9950.0  9750.0  9900.0   9146900
2020-11-10    9675.0  9675.0  9850.0  9650.0  9775.0  21280100

## Get latest individual stock data

In [73]:
i='ICBP.JK' # specify stock's ticker/symbol here
df.iloc[-1][:,i]

Adj Close        9675.0
Close            9675.0
High             9850.0
Low              9650.0
Open             9775.0
Volume       21280100.0
Name: 2020-11-10 00:00:00, dtype: float64

## Get specific stock data

In [75]:
i='ICBP.JK' # specify stock's ticker/symbol here
price_date = str(datetime.datetime(2020, 11, 2).date()) # specify date here

## ALL DATA
df.loc[price_date][:,i]

## Close price only
# df.loc[price_date]['Close',i]

## Open price only
# df.loc[price_date]['Open',i]

## HIGH price only
# df.loc[price_date]['High',i]

## LOW price only
# df.loc[price_date]['Low',i]

## Volume only
# df.loc[price_date]['Volume',i]

Adj Close       9750.0
Close           9750.0
High            9925.0
Low             9625.0
Open            9650.0
Volume       9102800.0
Name: 2020-11-02 00:00:00, dtype: float64